{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container my-5 bg-light p-4" style="max-width:450px;">

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p class="text-center">
            <b><u>パスワード変更のメールを送信しました！</b></u>
        </p>
        <p>{% blocktrans %}メールが届かない場合は、スパムフォルダーを確認してください。それ以外の場合は、数分後に受信されない場合はお問い合わせください{% endblocktrans %}</p>
        <div class="my-3">
            <a href="{% url 'account_login' %}" type="button" class="btn btn-danger form-control">トップへ</a>
        </div>
        <div class="text-right">
            <a href="{% url 'account_reset_password' %}" class="my-4">メールか届かない(再送する)</a>
        </div>
    </div>
{% endblock %}