{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="mt-5">Home</h2>
    <ul>
        <li><a href="{% url 'main:trivia-list' prefecture='hokkaido' %}">北海道</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='aomori' %}">青森県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='iwate' %}">岩手県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='miyagi' %}">宮城県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='akita' %}">秋田県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='yamagata' %}">山形県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='fukushima' %}">福島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='ibaraki' %}">茨城県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='tochigi' %}">栃木県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='gunma' %}">群馬県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='saitama' %}">埼玉県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='chiba' %}">千葉県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='tokyo' %}">東京都</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kanagawa' %}">神奈川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='niigata' %}">新潟県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='toyama' %}">富山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='ishikawa' %}">石川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='fukui' %}">福井県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='yamanashi' %}">山梨県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='nagano' %}">長野県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='gihu' %}">岐阜県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='shizuoka' %}">静岡県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='aichi' %}">愛知県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='mie' %}">三重県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='shiga' %}">滋賀県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kyoto' %}">京都府</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='osaka' %}">大阪府</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='hyogo' %}">兵庫県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='nara' %}">奈良県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='wakayama' %}">和歌山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='tottori' %}">鳥取県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='simane' %}">島根県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='okayama' %}">岡山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='hiroshima' %}">広島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='yamaguchi' %}">山口県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='tokushima' %}">徳島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kagawa' %}">香川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='ehime' %}">愛媛県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kochi' %}">高知県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='fukuoka' %}">福岡県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='saga' %}">佐賀県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='nagasaki' %}">長崎県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kumamoto' %}">熊本県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='oita' %}">大分県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='miyazaki' %}">宮崎県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='kagoshima' %}">鹿児島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='okinawa' %}">沖縄県</a></li>
    </ul>
</div>
{% endblock %}