{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="mt-5">Home</h2>
    <ul>
        <li><a href="{% url 'main:trivia-list' prefecture='北海道' %}">北海道</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='青森県' %}">青森県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='岩手県' %}">岩手県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='宮城県' %}">宮城県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='秋田県' %}">秋田県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='山形県' %}">山形県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='福島県' %}">福島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='茨城県' %}">茨城県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='栃木県' %}">栃木県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='群馬県' %}">群馬県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='埼玉県' %}">埼玉県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='千葉県' %}">千葉県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='東京都' %}">東京都</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='神奈川県' %}">神奈川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='新潟県' %}">新潟県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='富山県' %}">富山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='石川県' %}">石川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='福井県' %}">福井県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='山梨県' %}">山梨県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='長野県' %}">長野県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='岐阜県' %}">岐阜県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='静岡県' %}">静岡県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='愛知県' %}">愛知県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='三重県' %}">三重県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='滋賀県' %}">滋賀県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='京都府' %}">京都府</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='大阪府' %}">大阪府</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='兵庫県' %}">兵庫県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='奈良県' %}">奈良県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='和歌山県' %}">和歌山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='栃木県' %}">鳥取県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='島根県' %}">島根県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='岡山県' %}">岡山県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='広島県' %}">広島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='山口県' %}">山口県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='徳島県' %}">徳島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='香川県' %}">香川県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='愛媛県' %}">愛媛県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='高知県' %}">高知県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='福岡県' %}">福岡県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='滋賀県' %}">佐賀県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='長崎県' %}">長崎県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='熊本県' %}">熊本県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='大分県' %}">大分県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='宮崎県' %}">宮崎県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='鹿児島県' %}">鹿児島県</a></li>
        <li><a href="{% url 'main:trivia-list' prefecture='沖縄県' %}">沖縄県</a></li>
    </ul>
</div>
{% endblock %}