{% extends "base.html" %}

{% block title %}マイページ{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>マイページ</h2>
    <p>{{user.profile.username}}</p>
    <p>{{user.profile.bio}}</p>
    <div>
        <a class="btn btn-primary my-3" href="{% url 'main:trivia-create' %}">投稿</a>
        <a class="btn btn-secondary my-3" href="{% url 'accounts:update' pk=user.id %}">プロフィール編集</a>
        <a class="btn btn-danger my-3" href="{% url 'main:trivia-like-list' %}">いいねリスト</a>
    </div>
    {% for object in object_list %}
        <div class="card my-3">
            <div class="card-body">
                <h5><a href="{% url 'main:trivia-detail' pk=object.id %}">{{object.title}}</a></h5>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}