{% extends "base.html" %}

{% block title %}マイページ{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2><b>マイページ</b></h2>
    <p><i>{{user.profile.username}}</i></p>
    <p>{{user.profile.bio}}</p>
    <hr class="separator">
    <div>
        <a class="btn-list" href="{% url 'main:trivia-create' %}"><span>投稿</span></a>
        <a class="btn-list" href="{% url 'accounts:update' pk=user.id %}"><span>プロフィール編集</span></a>
        <a class="btn-list" href="{% url 'main:trivia-like-list' %}"><span>いいね!リスト</span></a>
    </div>

    <form action="{% url 'main:mypage' %}" method="GET" class="w-75 mx-auto mt-5">
        <p class="form-floating">
            <input id="floatingInput" type="text" class="form-control" name="keyword" value="{{ keyword }}" placeholder="キーワード入力">
            <label for="floatingInput">キーワード</label>
        </p>

        <div class="row mb-3">
            <div class="col form-floating">
                <select name="category" id="floatingSelect" class="form-select">
                    <option value="未選択" {% if none %}selected{% endif %}>Unselected (未選択)</option>
                    <option value="地理" {% if geography %}selected{% endif %}>Geography (地理)</option>
                    <option value="歴史" {% if history %}selected{% endif %}>History (歴史)</option>
                    <option value="人物" {% if person %}selected{% endif %}>Person (人物)</option>
                    <option value="自然" {% if nature %}selected{% endif %}>Nature (自然)</option>
                    <option value="伝統" {% if tradition %}selected{% endif %}>Tradition (伝統)</option>
                    <option value="スポーツ" {% if sport %}selected{% endif %}>Sport (スポーツ)</option>
                    <option value="食文化" {% if food %}selected{% endif %}>Food (食)</option>
                    <option value="文化" {% if culture %}selected{% endif %}>Culture (文化)</option>
                    <option value="芸能" {% if entertainment %}selected{% endif %}>Entertainment (芸能)</option>
                    <option value="特産品" {% if goods %}selected{% endif %}>Goods (特産品)</option>
                    <option value="方言" {% if dialect %}selected{% endif %}>Dialect (方言)</option>
                </select>
                <label for="floatingSelect">カテゴリ</label>
            </div>
            <div class="col form-floating">
                <select name="arrangement" id="floatingSelect" class="form-select">
                    <option value="1" {% if new %}selected{% endif %}>最新順</option>
                    <option value="2" {% if like %}seledted{% endif %}>いいね順</option>
                    <option value="3" {% if comment %}selected{% endif %}>コメント数</option>
                </select>
                <label for="floatingSelect">カテゴリ</label>
            </div>
        </div>
        <div class="text-center">
            <button class="button-search">検索</button>
        </div>
    </form>

    {% for object in object_list %}
        <div class="card-diy">
            <h5><a class="card-title" href="{% url 'main:trivia-detail' pk=object.id %}">{{object.title}}</a></h5>
            {% if request.user in item.like.all %}
                <i class="bi bi-heart-fill" role="img" style="color: deeppink;"></i> {{object.like.count}}
            {% else %}
                <i class="bi bi-heart" role="img" style="color: deeppink;"></i> {{object.like.count}}
            {% endif %}
            <p>コメント: {{object.comments.count}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}