{% extends "base.html" %}

{% block title %}詳細{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>{{object.title}}</h2>
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'main:trivia-like' %}" style="display: inline-block;">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ object.id }}">
            {% if user in post.like.all %}
                <button type="submit" class="btn btn-link btn-lg" tabindex="-1" aria-disabled="true">
                <i class="bi bi-heart-fill" role="img" style="color: deeppink;"></i>
                </button>{{object.like.count}}<br>
            {% else %}
                <button type="submit" class="btn btn-link btn-lg" tabindex="-1" aria-disabled="true">
                    <i class="bi bi-heart" role="img" style="color: deeppink;"></i>
                </button>{{object.like.count}}<br>
            {% endif %}
        </form>
    {% else %}
        <i class="bi bi-heart" role="img" style="color: deeppink;"></i> {{object.like.count}}<br>
    {% endif %}
    <p>{{object.prefecture}}</p>
    <p>{{object.category}}</p>
    <p>{{object.content}}</p>
    <p>{{object.create_at}}</p>
    <p>{{object.update_at}}</p>
    
    {% if object.user == request.user %}
        <a href="{% url 'main:trivia-update' object.id %}" class="btn btn-secondary ms-3" tabindex="-1" role="button" aria-disabled="true">編集</a>
        <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal-{{object.id}}">削除</button>
    {% endif %}
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal-{{object.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">削除</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>削除すると元に戻すことはできません。よろしいでしょうか？</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'main:trivia-delete' object.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-danger">削除</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}