body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    color: #272343;
}

.background-container {
  background-color: #247c7c;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px; /* Optional: padding around the content */
  border-radius: 10px; /* Optional: rounded corners */
  color: white; /* Optional: text color to contrast with the background */
}

.bgimg {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.bgimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/japan-wallpaper.png") center center / cover no-repeat;
  opacity: 0.7; /* Adjust the opacity value as needed */
  filter: blur(8px);
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.introduction {
  font-size: 4vw; /* Responsive size based on viewport width */
}

@media (min-width: 600px) {
  .introduction {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .introduction {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .introduction {
    font-size: 3em;
  }
}

.button-form {
  display: inline-block;
  padding: 10px 60px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #247c7c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #272343;
  margin-bottom: 20px;
}

.button-form:hover {background-color: #bae8e8; color: #272343;}

.button-form {
  background-color: #247c7c;
  box-shadow: 0 5px #272343;
  transform: translateY(4px);
}

.button-search {
    display: inline-block;
    padding: 10px 80px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #247c7c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #272343;
    margin-bottom: 20px;
  }
  
  .button-search:hover {background-color: #bae8e8; color: #272343;}
  
  .button-search {
    background-color: #247c7c;
    box-shadow: 0 5px #272343;
    transform: translateY(4px);
  }

#start-button {
    display: inline-block;
    padding: 20px 90px;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #272343;
    margin-bottom: 20px;
}

#start-button:hover {background-color: #bae8e8; color: #272343;}
  
#start-button {
  background-color: #247c7c;
  box-shadow: 0 5px #272343;
  transform: translateY(4px);
}

.card-title {
    color: #272343;
    text-decoration: none;
}

.card-title:hover {
    font-weight: bold;
}

.card-diy {
    display: block;
    top: 0px;
    position: relative;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #bae8e8;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #272343;
      background-color: #e3f6f5;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #bae8e8;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
      background: #247c7c;
    }
}

.btn-dark {
    background-color: #272343;
    color: #ffffff;
} 

.btn-list {
  --color: #272343;
  position: relative;
  text-decoration: none;
  color: var(--color);
  font-family: "Inter", sans-serif;
  padding: 0.2rem 0;
  margin: 10px;
}

.btn-list::before {
  --line-width: 115%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--line-width);
  height: var(--line-height);
  transform-origin: right;
  transform: scaleX(0);
  background: var(--color);
  transition: transform var(--line-transition-duration) var(--line-easing);
  z-index: 1;
}

.btn-list:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.btn-list:hover span {
  --deg: -45deg;
}

.btn-list:hover span::before {
  transform: rotate(var(--deg));
}

.btn-list:hover span::after {
  transform: translateX(-1px) rotate(var(--deg));
}

.btn-list span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 200ms;
  --line-arrow-transition-delay: 240ms;
}

.btn-list span::before,
.btn-list span::after {
  content: "";
  position: absolute;
  right: -18%;
  bottom: 0px;
  background: var(--color);
  transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}

.btn-list span::before {
  width: var(--line-arrow-width);
  height: var(--line-arrow-height);
  transform-origin: 0% 100%;
  transform: rotate(-90deg);
}

.btn-list span::after {
  height: var(--line-arrow-width);
  width: var(--line-arrow-height);
  transform-origin: 100% 0%;
  transform: translateX(-1px) rotate(0deg);
}

.btn-secondary {
  background-color: #247c7c;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #bae8e8;
  color: #272343;
}

.btn-danger:hover {
  background-color: #f0b5bb;
  color: #272343;
}

.date-holder {
  font-size: 0.7em;
  text-align: end;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: underline;
}

.separator {
  border: none;
  border-top: 2px solid #646b8c;
  margin: 20px 0;
}

.title h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
      font-weight: bold;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .title h1:after,.title h1:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #247c7c;
      border-top: 2px solid #247c7c;
      height: 5px;
    background-color:#ffffff;
  }