body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    color: #272343;
}

.background-container {
  background-color: #247c7c;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px; /* Optional: padding around the content */
  border-radius: 10px; /* Optional: rounded corners */
  color: white; /* Optional: text color to contrast with the background */
}

.bgimg {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.bgimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/japan-wallpaper.jpg") center center / cover no-repeat;
  opacity: 0.7; /* Adjust the opacity value as needed */
  filter: blur(8px);
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.introduction {
  font-size: 4vw; /* Responsive size based on viewport width */
}

@media (min-width: 600px) {
  .introduction {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .introduction {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .introduction {
    font-size: 3em;
  }
}

.button-form {
  display: inline-block;
  padding: 10px 60px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #247c7c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #272343;
  margin-bottom: 20px;
}

.button-form:hover {background-color: #bae8e8; color: #272343;}

.button-form {
  background-color: #247c7c;
  box-shadow: 0 5px #272343;
  transform: translateY(4px);
}

.button-search {
    display: inline-block;
    padding: 10px 80px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #247c7c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #272343;
    margin-bottom: 20px;
  }
  
  .button-search:hover {background-color: #bae8e8; color: #272343;}
  
  .button-search {
    background-color: #247c7c;
    box-shadow: 0 5px #272343;
    transform: translateY(4px);
  }

#start-button {
    display: inline-block;
    padding: 20px 90px;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #272343;
    margin-bottom: 20px;
}

#start-button:hover {background-color: #bae8e8; color: #272343;}
  
#start-button {
  background-color: #247c7c;
  box-shadow: 0 5px #272343;
  transform: translateY(4px);
}

.card-title {
    color: #272343;
    text-decoration: none;
}

.card-title:hover {
    font-weight: bold;
}

.card-diy {
    display: block;
    top: 0px;
    position: relative;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #bae8e8;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #272343;
      background-color: #e3f6f5;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #bae8e8;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
      background: #247c7c;
    }
}

.btn-dark {
    background-color: #272343;
    color: #ffffff;
} 

.btn-list {
  --color: #272343;
  position: relative;
  text-decoration: none;
  color: var(--color);
  font-family: "Inter", sans-serif;
  padding: 0.2rem 0;
  margin: 10px;
}

.btn-list::before {
  --line-width: 115%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--line-width);
  height: var(--line-height);
  transform-origin: right;
  transform: scaleX(0);
  background: var(--color);
  transition: transform var(--line-transition-duration) var(--line-easing);
  z-index: 1;
}

.btn-list:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.btn-list:hover span {
  --deg: -45deg;
}

.btn-list:hover span::before {
  transform: rotate(var(--deg));
}

.btn-list:hover span::after {
  transform: translateX(-1px) rotate(var(--deg));
}

.btn-list span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 200ms;
  --line-arrow-transition-delay: 240ms;
}

.btn-list span::before,
.btn-list span::after {
  content: "";
  position: absolute;
  right: -18%;
  bottom: 0px;
  background: var(--color);
  transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}

.btn-list span::before {
  width: var(--line-arrow-width);
  height: var(--line-arrow-height);
  transform-origin: 0% 100%;
  transform: rotate(-90deg);
}

.btn-list span::after {
  height: var(--line-arrow-width);
  width: var(--line-arrow-height);
  transform-origin: 100% 0%;
  transform: translateX(-1px) rotate(0deg);
}

.btn-secondary {
  background-color: #247c7c;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #bae8e8;
  color: #272343;
}

.btn-danger:hover {
  background-color: #f0b5bb;
  color: #272343;
}

.date-holder {
  font-size: 0.7em;
  text-align: end;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: underline;
}

.separator {
  border: none;
  border-top: 2px solid #646b8c;
  margin: 20px 0;
}

.title h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
      font-weight: bold;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .title h1:after,.title h1:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #247c7c;
      border-top: 2px solid #247c7c;
      height: 5px;
    background-color:#ffffff;
  }

.title-container {
  display: flex;
  justify-content: center; /* Centers the child horizontally */
}

.prefecture-title {
  position: relative; /* Required for the pseudo-element positioning */
  display: inline-block;
  font-size: 5em;
  text-align: center;
  padding: 10px 100px;
  color: #ffffff;
  text-shadow: 
  3px 3px 3px #272343,   /* bottom-right shadow */
  -3px 3px 3px #272343,  /* bottom-left shadow */
  3px -3px 3px #272343,  /* top-right shadow */
  -3px -3px 3px #272343, /* top-left shadow */
  3px 0 3px #272343,     /* right shadow */
  -3px 0 3px #272343,    /* left shadow */
  0 3px 3px #272343,     /* bottom shadow */
  0 -3px 3px #272343;    /* top shadow */
}

.background-img { /* Stretches the image to cover the element */
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

#北海道 {
  background: url("images/hokkaido-wallpaper.jpg");
}

#青森県 {
  background: url("images/aomori-wallpaper.jpg");
}

#岩手県 {
  background: url("images/iwate-wallpaper.jpg");
}

#宮城県 {
  background: url("images/miyagi-wallpaper.jpg");
  
}

#秋田県 {
  background: url("images/akita-wallpaper.jpg");
}

#山形県 {
  background: url("images/yamagata-wallpaper.jpg");
}

#福島県 {
  background: url("images/fukushima-wallpaper.jpg");
}

#茨城県 {
  background: url("images/ibaraki-wallpaper.jpg");
}

#栃木県 {
  background: url("images/tochigi-wallpaper.jpg");
}

#群馬県 {
  background: url("images/gunma-wallpaper.jpg");
}

#埼玉県 {
  background: url("images/saitama-wallpaper.jpg");
}

#千葉県 {
  background: url("images/chiba-wallpaper.jpg");
}

#東京都 {
  background: url("images/tokyo-wallpaper.jpg");
}

#神奈川県 {
  background: url("images/kanagawa-wallpaper.jpg");
}

#新潟県 {
  background: url("images/niigata-wallpaper.jpg");
}

#富山県 {
  background: url("images/toyama-wallpaper.jpg");
}

#石川県 {
  background: url("images/ishikawa-wallpaper.jpg");
}

#福井県 {
  background: url("images/fukui-wallpaper.jpg");
}

#山梨県 {
  background: url("images/yamanashi-wallpaper.jpg");
}

#長野県 {
  background: url("images/nagano-wallpaper.jpg");
}

#岐阜県 {
  background: url("images/gifu-wallpaper.jpg");
}

#静岡県 {
  background: url("images/shizuoka-wallpaper.jpg");
}

#愛知県 {
  background: url("images/aichi-wallpaper.jpg");
}

#三重県 {
  background: url("images/mie-wallpaper.jpg");
}

#滋賀県 {
  background: url("images/shiga-wallpaper.jpg");
}

#京都府 {
  background: url("images/kyoto-wallpaper.jpg");
}

#大阪府 {
  background: url("images/osaka-wallpaper.jpg");
}

#兵庫県 {
  background: url("images/hyogo-wallpaper.jpg");
}

#奈良県 {
  background: url("images/nara-wallpaper.jpg");
}

#和歌山県 {
  background: url("images/wakayama-wallpaper.jpg");
}

#鳥取県 {
  background: url("images/tottori-wallpaper.jpg");
}

#島根県 {
  background: url("images/shimane-wallpaper.jpg");
}


#岡山県 {
  background: url("images/ohkayama-wallpaper.jpg");
}

#広島県 {
  background: url("images/hiroshima-wallpaper.jpg");
}

#山口県 {
  background: url("images/yamaguchi-wallpaper.jpg");
}


#徳島県 {
  background: url("images/tokushima-wallpaper.jpg");
}

#香川県 {
  background: url("images/kagawa-wallpaper.jpg");
}

#愛媛県 {
  background: url("images/ehime-wallpaper.jpg");
}

#高知県 {
  background: url("images/kochi-wallpaper.jpg");
}


#福岡県 {
  background: url("images/fukuoka-wallpaper.jpg");
}

#佐賀県 {
  background: url("images/saga-wallpaper.jpg");
}

#長崎県 {
  background: url("images/nagasaki-wallpaper.jpg");
}

#熊本県 {
  background: url("images/kumamoto-wallpaper.jpg");
}

#大分県 {
  background: url("images/oita-wallpaper.jpg");
}

#宮崎県 {
  background: url("images/miyazaki-wallpaper.jpg");
}

#鹿児島県 {
  background: url("images/kagoshima-wallpaper.jpg");
}

#沖縄県 {
  background: url("images/okinawa-wallpaper.jpg");
}