<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="icon" href="{% static 'css/images/japan-favicon.png' %}" type="image/x-icon">

        {% include "css.html" %}
        
        <title>{% block title %}{% endblock title %}</title>

    </head>
<body style="min-height: 100vh;">
    {% include "nav.html" %}

    {% include "messages.html" %}

    {% block content %} 
    {% endblock content %}
    
    {% include "footer.html" %}
    {% include "js.html" %}
</body>
</html>