<footer class="footer mt-auto py-4 bg-dark text-light mb-0">
    <div class="container text-center">
        <ul class="nav justify-content-center mb-3">
            <li class="nav-item">
                {#<a href="{% url 'main:term_of_service' %}" class="nav-link">利用規約</a>#}
            </li>
            <li class="nav-item">
                {#<a href="{% url 'main:privacy_policy' %}" class="nav-link">プライバシーポリシー</a>#}
            </li>
            <li class="nav-item">
                {#<a href="https://acordecode.com/contact/" class="nav-link">お問い合わせ</a>#}
            </li>
        </ul>
        <p>Copyright &copy;2024 Team TATSUYA All Right Reserved.</p>
    </div>
</footer>